/* #9e9e9e, #fff, #000, #333, #666 */
/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif; */

body{
    margin: 0px;
    display: block;
    
}

.first{
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    margin: 0 auto;
}
.first img{
    width:auto;
    height:auto;
}
.first logo{
    font-size: 8px;
    margin-top: 0;
}

.first div{
    margin-top: 0;
    margin-bottom: 20px;
}

.first h1,p{
    margin-top: 0;
    font-size: 48px;
}
.first h2 {
    margin-top: 3cm;
    font-style: normal;
    font-size: 2cm ;
}

/* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page */
/* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page */
/* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page *//* Second Page */


.second{
    background: url(/assets/img/portfolio2.jpg) no-repeat center;
    font-family: 'Didact Gothic', sans-serif;
    background-size:cover;
    height: 100vmax;
    height: 870px;
    overflow: hidden;
}

#p p{
    padding-top: 70px;
    color:#fff;
}

#p p::before{
 content: ' \2015   ';
}

.second p{
    color: #fff;
    font-size: 16px;
   
}

#second{
    padding-left: 380px;
}


.second h1{
    font-size: 3cm;
    color:white;
    margin-top: 0;
    margin-bottom: 20px;
}
#secondP p{
    margin-top: 90px;
    border: 1px solid #fff;
    width: 65px;
    font-size: 14px;
    text-align: center;
    padding:9px 7px 9px 7px;
}

.second footer{
    text-align: right;
    margin-right: 100px;
}
.second footer h2{
    font-size: 204px;
    font-weight: 700;
    font-family: 'Fjalla One', sans-serif;
    color:#9e9e9e;
    opacity: 0.8;
}


#secondP p:hover{
background-color: #fff;
color: #000;
}

#secondP h2:hover{
   color: #fff;
   opacity: 1;
}



/* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page */
/* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page */
/* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page *//* Third Page */


.third{
    background: url(/assets/img/portfolio3.png)  no-repeat center;
    background-size:cover;
    height: 100vmax;
    overflow: hidden;
    height:870px;
    font-family: 'Work Sans', sans-serif;
    padding-top: 250px;
}

.third logo{
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif; 
} 

.third #p logo::before{
    content: ' \2015   ';
}

#third{
    padding-left: 400px;
}

.third h1{
    font-size: 1.8cm;
    font-weight: 900;
    margin-top: 50px;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: 4px;
     
}


#thirdP p{
    margin-top: 120px; 
    border: 1px solid #333;
    width: 60px;
    font-size: 16px;
    text-align: center;
    padding:9px 7px 9px 7px;
    color:#000;
    font-family: 'Work Sans', sans-serif; 
    font-weight: 400;
}

.third footer h2{
    font-size: 204px;
    font-family: 'Fjalla One', sans-serif;
    color: #333;
    opacity: 0.7;
    margin-top: 0;
     
}

.third footer{
    text-align: right;
    margin-right: 100px;
}

#third>p{
    margin-top: 0;
    font-size: 18px;
}
#thirdP p:hover{
    background-color: #000;
    color: #fff;
    }
    
#thirdP h2:hover{
       color: #000;
       opacity: 1;
    }

/* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page */
/* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page */
/* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page *//* Fourth Page */


.fourth{
    background: url(/assets/img/portfolio4.jpg)no-repeat center;
    background-size:cover;
    height: 100vmax;
    height:870px;
    overflow: hidden;
}


.fourth logo{
    color:#fff;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif; 
} 

.fourth #p logo::before{
    content: ' \2015   ';
    color:#fff;
   }

 

#fourth{
    padding-left: 360px;
    color:#fff;
    margin-top: 160px;
    font-family: 'Didact Gothic', sans-serif;
}
.fourth h1{
    font-size: 2cm;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Didact Gothic', sans-serif;
    color:#fff;
}


#fourthP p{
    border: 1px solid #fff;;
    width: 60px;
    font-size: 16px;
    text-align: center;
    padding:9px 7px 9px 7px;
    color:#fff;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 400;
}


.fourth footer h2{
    font-size: 204px;
    font-family: 'Fjalla One', sans-serif;
    color:#666;
    opacity: 0.8;
    
}

.fourth footer{
    margin-top: 0;
    text-align: right;
    margin-right: 100px;
   
 
}
#fourth> p{
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 60px;;
}

#fourthP p:hover{
    background-color: #fff;
    color: #000;
    }
    
#fourthP h2:hover{
       color: #fff;
       opacity: 1;
    }

/* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page */
/* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page */
/* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page *//* Fifth Page */


.fifth{
    background: url(/assets/img/portfolio5.png)no-repeat center;
    background-size:cover;
    height: 100vmax;
    height:870px;
    overflow: hidden;
}
.fifth logo{
    color:#000;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif; 
} 

.fifth #p logo::before{
    content: ' \2015   ';
    color:#000;
   }

 

#fifth{
    padding-left: 340px;
    color:#000;
    margin-top: 160px;
    font-family: 'Didact Gothic', sans-serif;
}
.fifth h1{
    font-size: 2cm;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Didact Gothic', sans-serif;
    color:#000;
}


#fifthP p{
    border: 1px solid #000;;
    width: 60px;
    font-size: 16px;
    text-align: center;
    padding:9px 7px 9px 7px;
    color:#000;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 400;
}


.fifth footer h2{
    font-size: 204px;
    font-family: 'Fjalla One', sans-serif;
    color:#666;
    opacity: 0.8;
    
}

.fifth footer{
    margin-top: 0;
    text-align: right;
    margin-right: 100px;
   
 
}
#fifth>p{
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 60px;
    color: #000;
}

#fifthP p:hover{
    background-color: #000;
    color: #fff;
    }
    
#fifthP h2:hover{
       color: #000;
       opacity: 1;
    }

article{
    background-color: #000;
    color: #fff;
}

article h1{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 128px;
    text-align: center;
    
}
a{
  color:  #fff;
  text-decoration: none;
  font-size: 48px;
  font-family: 'Didact Gothic', sans-serif;
}
a:hover{
    text-decoration: underline;
}
article p{
     color: #666;;
}
article div{
    width: 60vw;
    text-align: left;
    margin-left: 40vw;
    padding-bottom: 200px;
}
.sixth{
    background-color: #fff;
    color: #000;
}

.sixth a{
    color:  #000;
    text-decoration: none;
    font-size: 150px;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-top: 0;
    text-align: center;

  }

  li{
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 200px;
}

li > a:hover{
   text-decoration: underline;
}

article h3{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #000;
}

 @keyframes herz{
    from {
      transform: scale(1,1);
    }
    to {
      transform: scale(2,2);
    }
  }
 article h3 { 
    animation: herz 4s infinite ease-in-out; 
   }